ul
{
	float: left;
	list-style: none;
}

li a
{
		display: block;
		width:80px;
		font-size: lem;
		text-align: center;
		text-decoration: none;
		color: white;
		background-color: gray;
		padding: 5px 10px;
		margin: 2px 0px 4px 2px;
		border-radius: 4px;
		box-shadow: 2px 2px 2px silver;
		font-family: 'Comic Sans MS';
}
li a:hover
	{
	background: silver;
	box-shadow: 0px 0px 0px;
	}
#linki
{
	background: green;
	float: left;
	width: 70%;
	
	padding: 20px;
	margin: 0px 0px 0px 0px;
	min-height:100%;
}
#naglowek
{
	background:gray;
	text-align: center;
	min-height:100px;

}
#planylekcji
{
	float: left;
	width: 20%;
}
#informacje
{
	float: left;
	width: 70%;
	background: silver;
	padding: 20px;
	margin: 5px 5px 5px 5px;
	min-height:100%;
}
#stopka
{
	clear:both;
	background:gray;
	text-align:center;
	min-height:50px;
	margin: 0px 0px 0px 0px;
	
}
h3
{
	font-family: 'Comic Sans MS';
	color: #000033;
}
iframe
{
	border:none;
}


