h2{
	font-size: 26px;
	color: red;
	
}
h1{
	font-size:14px;
	color: green;
}
h3{
	font-size: 24px;
}
body{
	
	margin: 0;
      padding: 0;
      font-family: 'Segoe UI', 'Open Sans', sans-serif;
      background: linear-gradient(to bottom, #4dafff, #e0f7ff);
      
      flex-direction: column;
      
      justify-content: flex-start;
      min-height: 100vh;
      
      overflow-x: hidden;
      padding-top: 40px;
	  margin-left: 50px;
}
 header {
      font-family: 'Bevan', serif;
      font-size: 2.4em;
      color: #ffffff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;
    }
informatyka{
	font-weight: bold;
}

th {
  background-color: lightblue; 
  color: darkblue;             
  font-weight: bold;
  font-family: 'Bevan', serif;
}


td {
  background-color: white;     
  color: black;               
}
wychowawca{
	color: lime;
	font-size:30px;
}
